<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/gilroy_extra_bold.otf</string>
		<string>fonts/tt_norms_bold.otf</string>
		<string>fonts/tt_norms_medium.otf</string>
		<string>fonts/tt_norms_regular.otf</string>
		<string>fonts/Poppins-Medium.ttf</string>
	</array>
</dict>
</plist>
